footer {
  width: 60%;
  margin: 30px auto;
  background-color: white;
}

footer :where(.title) {
  padding: 15px 0;
  color: #5d6b8f;
  text-transform: uppercase;
  font-size: 14px;
}

footer section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer .social-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

footer .social-links span:hover {
  text-decoration: underline;
  opacity: 0.5;
  cursor: pointer;
}

footer p {
  padding: 10px 0;
  font-size: 14px;
}
